@import url(font/font.css);

#main{
    .section-1{
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between;
        .item-1{
                position: relative;
                overflow: hidden;
                // width: 100%;
                // .img-img:hover{
                //     transform: scale(1.1);
                //     transition: 2s;
                // }
                // .img-img:not(:hover){
                //     transition: 2s;
                // }
                // .shadow  {
                //     width: 100%; 
                //     height: 30%;  
                //     position: absolute; 
                //     bottom: 0; 
                //     left: 0; 
                //     background-image: linear-gradient(to top, #1D1D1D, transparent) ;
                // }
                // .text-shadow {
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     color: #fff;
                //     font-size: 20px;
                //     padding-left: 10px;
                //     padding-right: 10px;
                //     line-height: 30px;
                // }
        }
        .item-2{
                position: relative;
                overflow: hidden;
                .img-img{
                    width: 100%;
                }
                // .img-img:hover{
                //     transform: scale(1.2);
                //     transition: 2s;
                // }
                // .img-img:not(:hover){
                //     transition: 2s;
                // }
                // .shadow-1{
                //     width: 100%; 
                //     height: 30%;  
                //     position: absolute; 
                //     bottom: 0; 
                //     left: 0; 
                //     background-image: linear-gradient(to top, #1D1D1D, transparent) ;
                // }
                // .text-shadow-1{
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     color: #fff;
                //     font-size: 20px;
                //     padding-left: 10px;
                //     padding-right: 10px;
                //     line-height: 30px;
                // }
                .item-3{
                    position: relative;
                    overflow: hidden;
                    .img-img{
                        width: 100%;
                        height: auto;
                    }
                    // .img-img:hover{
                    //     transform: scale(1.2);
                    //     transition: 2s;
                    // }
                    // .img-img:not(:hover){
                    //     transition: 2s;
                    // }
                    p{
                        font-size: 16px; 
                        line-height: 24px;
                    }
                }
                .item-4{
                    position: relative;
                    overflow: hidden;
                    .img-img{
                        width: 100%;
                        height: auto;
                    }
                    // .img-img:hover{
                    //     transform: scale(1.2);
                    //     transition: 2s;
                    // }
                    // .img-img:not(:hover){
                    //     transition: 2s;
                    // }
                    p{
                        font-size: 16px; 
                        line-height: 24px;
                    }
                }
                
        }
        
    }

    .section-2{
        margin: 0 auto;
        padding-bottom: 40px;
        .title{
            display: flex;
            padding-bottom: 10px;
            .title-btn{
                width: 15px; 
                height: 15px; 
                background-color: #0090FF;
                margin-top: 2px;
            }
            .title-tl{
                padding-left: 10px; 
                font-weight: bold;
                h2{
                    margin: 0;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
        .content-videos{
            .content-videos-item{
                p{
                    padding-top: 10px;
                    margin-top: 0;
                    font-size: 15px;
                    line-height: 20px;
                    font-family: 'Helvatica-medium' !important;
                }
                span{
                    font-size: 12px;
                    line-height: 20px;
                    color: #9B9B9B;
                }
            }
        }
    }
    .section-3{
        margin: 0 auto;
        padding-bottom: 40px;
        .section-3-contents{
            .section-3-left-contents{
                .content-1{
                    .content-1-item{
                        position: relative;
                        padding-bottom: 30px;
                        img{
                            width:100%
                        }
                        button{
                            background-color: #0090FF; 
                            color: #fff; 
                            border: none; 
                            height: 25px; 
                            position: absolute; 
                            top: 0; 
                            left: 0; 
                            font-size: 12px; 
                            line-height: 20px;
                            margin-left: 13px;
                            width: 70px;
                            height: 30px;
                        }
                        p{
                            font-size: 15px;
                            line-height: 20px;
                            margin-top: 7px;
                            margin-bottom: 7px;
                        }
                        span{
                            font-size: 14px;
                            line-height: 24px;
                            color: #666666;
                        }
                    }
                }
                .content-2{
                    padding-bottom: 30px;
                    .content-2-header{
                        width: 100%; 
                        border-top: 3px #0090FF solid ;
                        height: 46px;
                        line-height: 23px;
                        padding-top: 15px;
                        p{
                            float: left; 
                            color: #0090FF; 
                            margin: 0;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        ul{
                            margin: 0;
                            float: right; 
                            display: flex; 
                            list-style-type: none;
                            li{
                                padding-right: 10px;
                                color: #1D1D1D;
                                font-size: 13px;
                                line-height: 20px;
                            }
                        }
                    }
                    .content-2-content{
                        .content-2-content-item-1{
                            img{
                                padding-bottom: 15px;
                            }
                            p{
                                font-size: 15px;
                                line-height: 20px;
                                color: #000000;
                            }
                            span{
                                font-size: 14px;
                                line-height: 22px;
                                color: #3C3C3C;
                            }
                        }
                        .content-2-content-item-2{
                            .content-2-content-item-2-img{

                            }
                            .content-2-content-item-2-text{
                                p{
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #3C3C3C;
                                    margin-bottom: 0;
                                }
                                span{
                                    font-size: 12px;
                                    line-height: 24px;
                                    color: #9B9B9B;
                                }   
                            }
                        }
                    }
                }
                .content-3{
                    padding-bottom: 30px;
                    .content-3-header{
                        width: 100%; 
                        border-top: 3px #0090FF solid ;
                        height: 46px;
                        line-height: 23px;
                        padding-top: 15px;
                        padding-bottom: 20px;
                        p{
                            float: left; 
                            color: #0090FF; 
                            margin: 0;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        ul{
                            float: right; 
                            display: flex; 
                            list-style-type: none;
                            margin: 0;
                            li{
                                padding-right: 10px;
                                font-size: 13px;
                                line-height: 22px;
                                color: #1D1D1D;
                            }
                        }
                    }
                    .content-3-1{
                        .content-3-1-item{
                            padding-bottom: 10px;
                            img{
                                padding-bottom: 10px;
                            }
                            p{
                                font-size: 15px;
                                line-height: 20px;
                                color: #000000;
                            }
                        }
                    }
                }
                .content-4{
                    padding-bottom: 30px;
                    .content-4-header{
                        width: 100%; 
                        border-top: 3px #0090FF solid ;
                        height: 46px;
                        line-height: 23px;
                        padding-top: 15px;
                        p{
                            float: left; 
                            color: #0090FF; 
                            margin: 0;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        ul{
                            float: right; 
                            display: flex; 
                            list-style-type: none;
                            margin: 0;
                        }
                        li{
                            padding-right: 10px;
                            font-size: 13px;
                            line-height: 22px;
                            color: #1D1D1D;
                        }
                    }
                    .content-4-content{
                        .content-4-content-item-1{
                            p{
                                font-size: 15px;
                                line-height: 20px;
                                color: #000000;
                            }
                            span{
                                font-size: 14px;
                                line-height: 22px;
                                color: #3C3C3C;
                            }
                        }
                        .content-4-content-item-2{
                            .text{
                                p{
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #3C3C3C;
                                    margin: 0;
                                }
                                span{
                                    font-size: 12px;
                                    line-height: 24px;
                                    color: #9B9B9B;
                                }
                            }
                        }
                    }
                }
                .content-5{
                    padding-bottom: 30px;
                    .content-5-item-1{
                        p{
                            font-size: 15px;
                            line-height: 20px;
                            margin-top: 7px;
                        }
                        padding-right: 30px;
                        img{
                            padding-top: 15px;
                        }
                        .content-5-item-header{
                            width: 100%;  
                            border-top: 3px #0090FF solid ;
                            height: 46px;
                            line-height: 23px;
                            padding-top: 15px;
                            p{
                                float: left; 
                                color: #0090FF; 
                                margin: 0;
                                
                            }
                            
                        }
                        .content-5-item-content{
                            img{
                                padding: 0;
                            }
                            padding-bottom: 22px;
                            .text{
                                padding-left: 10px;
                                p{
                                    margin: 0;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #3C3C3C;
                                }
                                span{
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #9B9B9B;
                                }
                            }
                        }
                    }
                }
                .content-6{
                    .content-6-header{
                        width: 100%; 
                        border-top: 3px #0090FF solid;
                        height: 46px;
                        line-height: 23px;
                        padding-top: 15px;
                        p{
                            float: left; 
                            color: #0090FF; 
                            margin: 0;
                            }
                        ul{
                            margin: 0;
                            float: right; 
                            display: flex; 
                            list-style-type: none;
                        }
                        li{
                            padding-right: 10px;
                            font-size: 13px;
                            line-height: 22px;
                            color: #1D1D1D;
                        }
                    }
                    .content-6-content-left{
                        p{
                            font-size: 15px;
                            line-height: 20px;
                            color: #000000;
                            padding-top: 7px;
                        }
                        span{
                            font-size: 14px;
                            line-height: 22px;
                            color: #3C3C3C;
                        }
                    }
                    .content-6-content-right{
                        .content-6-content-right-1{
                            padding-bottom: 15px;
                            p{
                                font-size: 14px;
                                line-height: 20px;
                                color: #000000;
                            }
                            span{
                                font-size: 13px;
                                line-height: 22px;
                                color: #3C3C3C;
                            }
                        }
                    }
                }
            }
            .section-3-right-contents{
                img{
                    padding-bottom: 27px;
                }
                .title-news{
                    display: flex;
                    padding-bottom: 16px;
                    .title-news-btn{
                        height: 10px; 
                        width: 10px; 
                        background-color: #0090FF;
                        margin-top: 5px;
                    }
                    h2{
                        font-size: 20px;
                        line-height: 20px; 
                        margin: 0; 
                        margin-left: 5px;
                    }
                }
                .tin-moi-nhat{
                    padding-bottom: 11px;
                    img{
                        padding-bottom: 11px;
                    }
                    p{
                        font-size: 15px;
                        line-height: 20px;
                        margin: 0;
                        padding-bottom: 10px;
                    }
                    span{
                        font-size: 14px;
                        line-height: 22px;
                        color: #3C3C3C;
                    }
                }
                .section-3-right-item{
                        p{
                            margin: 0;
                            margin-top: -5px;
                            font-size: 14px;
                            line-height: 22px;
                            color: #3C3C3C;
                        }
                        span{
                            font-size: 12px;
                            line-height: 24px;
                            opacity: 50%;
                        }
                }
            }
        }
    }
}